@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@300&family=Roboto:wght@300&display=swap');
@font-face {
  font-family: avalon;
  src: url("styleSgeet/Avalon_Bold.ttf");
}

*{
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5{

  font-family: 'Montserrat', sans-serif;
}



.email {
width: 500px;
}

.socialmedia img {
width: 20px;
}

.socialMediaLinks, .links {
background-color: #131313;
}

.copyright {
background-color: #000000;
color: white;
width: 100%;
height: 300px;
}


/* Element | http://127.0.0.1:5500/index.html */

body > header:nth-child(1) {
display: flex;
flex-direction: column;
}

/* Inline #1 | http://127.0.0.1:5500/index.html */

.firstRow {
background-color: #131313;
}

.firstRow a {
color: #555;
}

.secondRow {
background-color: #ffffff;
}

.secondRow a {
color: #555;
}

header span {
background-color: #ffdd33;
}

ol, ul {
list-style: none;
}

.socialmedia {
filter: invert(100%);
}


/* Inline #1 | http://127.0.0.1:5500/index.html */

.firstRow {
    display: flex;
  }
  
  .firstRow ul {
    display: flex;
  }
  
  .secondRow ul {
    display: flex;
  }
  

/* Inline #1 | http://127.0.0.1:5500/index.html */

.socialMediaLinks ul {
    display: flex;
  }
  
  .links ul {
    display: flex;
    margin-top: 0;
  }
  
  .links a {
    color: #555;
  }
  
/* Element | http://127.0.0.1:5501/index.html */

.footer-legal-logoTNW {
  width: 10px;
  height: 10px;
}
/* wajahat working */
.main-flex-container {
  display: flex;
  color: #ffffff;
  width: 100%;
  background-color: tomato;
  height: 400px;
  margin-top: 0.15%;
}
.left-flex-item {
  background-image:  linear-gradient( rgba(255,0,0,0.4)60%,rgb(0,0,0)100%), url("img/header1.jpg");
  background-color: #ccc;
  color: white;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 66.66%;
  margin: 0 0.4%;
  height: inherit;
}
.right-flex-container-item {
  display: flex;
  width: 33.3333%;
  height: inherit;
  flex-direction: column;
  margin: 0 0.4%;
}
.top-flex-item {
  background-image: linear-gradient(rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 100%),url("img/header2.webp");
  width: 100%;
  height: 50%;
  color: white;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.bottom-flex-item {
  background-image: linear-gradient(rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 100%),url("img/header3.webp");
  width: 100%;
  height: 50%;
  color: white;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-top: 1.5%;
}

.setting-font {
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
}

.float-right {
  float: right;
}
.setting-font2 {
  font-size: 2em;
  text-align: left;
}
.setting-font3 {
  font-size: 1.5em;
  text-align: left;
  font-family: avalon,sans-serif;


}

.setting-content {
  margin: 15% 5%;
}

.captions{
  font-size: 0.7em;
}
ul{
 
  list-style-type: none;
  margin-top: 10px;
}

li {
  float: left;
  color: #ccc;
  font-size: 0.9em;
}

li a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.9em;
}
.icon-size{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}



/* Element | http://127.0.0.1:5500/ */

.footer-legal-logoStackPath {
  width: 100px;
}

/* stylesheet.css | http://127.0.0.1:5500/styleSheet/stylesheet.css */

.footer-legal-logoTNW {
  /* width: 10px; */
  width: 40px;
}

.copyright {
  /* height: 300px; */
  height: 70px;
}


/* Inline #1 | http://127.0.0.1:5501/index.html */

.socialMediaLinks li {
margin-left: 30px;
}

/* stylesheet.css | http://127.0.0.1:5501/styleSheet/stylesheet.css */

.socialMediaLinks ul {
justify-content: center;
}

.links ul {
justify-content: center;
}

.copyright {
display: flex;
justify-content: center;
}

/* Element | http://127.0.0.1:5501/index.html */

.socialMediaLinks {
/* margin-top: 20px; */
padding-top: 30px;
padding-bottom: 30px;
}

/* Element | http://127.0.0.1:5501/index.html */

.links {
padding-bottom: 30px;
}

/* Inline #1 | http://127.0.0.1:5501/index.html */

footer {
position: absolute;
bottom: auto;
width: 100%;
}

/* stylesheet.css | http://127.0.0.1:5501/styleSheet/stylesheet.css */

.socialMediaLinks li {
padding: 10px;
background-color: gray;
border-radius: 50%;
}

.socialMediaLinks li:hover {
background-color: #575555;
}

.links li {
margin-right: 20px;
}

.links  a {
text-decoration: none;
}


/* Inline #1 | http://127.0.0.1:5501/index.html */

.container2 {
margin-left: auto;
}

.copyright span {
margin-top: auto;
margin-bottom: auto;
}



.elements {
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto auto auto;
  -ms-grid-columns: auto auto auto auto;
  /* grid-columns: auto auto auto auto; */
}

/* .titl\&image {
  display: flex;
  flex-direction: column;
} */


/* Inline #1 | http://127.0.0.1:5501/index.html */

.titl\&image > span:nth-child(2) {
  background-color: #ff4422;
}

.titl\&image > span:nth-child(3), .titl\&image > span:nth-child(4) {
  background-color: #ffebe7;
}

.details, .moredetals {
  background-color: #fffaf8;
}

.break1, .break2 {
  height: 150px;
}


/* Inline #1 | http://127.0.0.1:5501/index.html */

.titl\&image img {
  width: 70px;
}

.titl\&image {
  position: relative;
  display: block;
}

.titl\&image img {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}


/* Inline #1 | http://127.0.0.1:5501/index.html */

.titl\&image {
  display: flex;
  flex-direction: column;
}


/* Inline #1 | http://127.0.0.1:5501/index.html */

.elements {
  margin-left: 150px;
  margin: ;
  margin-right: 150px;
}

.element1, .element2, .element3 , .element4 {
  padding-left: 20px;
  padding-right: 20px;
}

/* ========================= */

 .elements {
  margin-left: 150px;
  margin-right: 150px;
}

.element1, .element2, .element3 , .element4 {
  padding-left: 20px;
  padding-right: 20px;
}

.titl\&image > span:nth-child(4) {
  padding-bottom: 10px;
}

.titl\&image img {

  padding-left: 10px;
  padding-top: 10px;
}

.titl\&image > span:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
}

.titl\&image > span:nth-child(3), .titl\&image > span:nth-child(4) {
  padding-left: 90px;
  padding-top: 10px;
}  

/* stylesheet.css | http://127.0.0.1:5501/styleSheet/stylesheet.css */

.details, .moredetals {
  padding-left: 20px;
}

/* Inline #1 | http://127.0.0.1:5501/index.html */

.moredetals {
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 10px;
}

.details {
  padding-bottom: 10px;
}

.moredetals {
  border-color: #ff4422;
}

.heading {
  display: flex;
  margin: auto;
  width: 1100px;
 }
 /*newwork fixing images */

.img-sizing{
  width: 50px;
  height: 50px;
  float: left;
}
/* fixing first header elements */
.container1{
  color: white;
  width: 33.33%;
  height: 100%;
  
}
.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
a:hover{
  color: white;

}
.flex-items{
  padding: 0 0 5px 0;
  color: #ccc;
}
.adding-padding{
  padding: 10px;
}
.half-width{
  width: 100%;
  height: 100%;
  background-color:white;
  padding-bottom: 2em;

}
a[target]:hover {color:black;}
.main-second-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
}
#search-label{
  float: right;
  width: 5%;
  padding: 10px;
  background:white;
  color: #ccc;
  font-size: 17px;
  border: none;
  border-left: 1px solid #ccc;
  cursor: pointer;
}

.third-row{
  width: 100%;
  background-color: #FFDD33;
}
.set-styling{
  display: inline-block;
  font-size: 0.8em;
  color: #2F2909;
  padding: 0.5em;

}