*{
  padding: 0;
  margin: 0;
}



.email {
width: 500px;
}

.socialmedia img {
width: 20px;
}

.socialMediaLinks, .links {
background-color: #131313;
}

.copyright {
background-color: #000000;
color: white;
width: 100%;
height: 300px;
}


/* Element | http://127.0.0.1:5500/index.html */

body > header:nth-child(1) {
display: flex;
flex-direction: column;
}

/* Inline #1 | http://127.0.0.1:5500/index.html */

.firstRow {
background-color: #131313;
}

.firstRow a {
color: #555;
}

.secondRow {
background-color: #ffffff;
}

.secondRow a {
color: #555;
}

header span {
background-color: #ffdd33;
}

ol, ul {
list-style: none;
}

.socialmedia {
-webkit-filter: invert(100%);
filter: invert(100%);
}


/* Inline #1 | http://127.0.0.1:5500/index.html */

.firstRow {
    display: flex;
  }
  
  .firstRow ul {
    display: flex;
  }
  
  .secondRow ul {
    display: flex;
  }
  

/* Inline #1 | http://127.0.0.1:5500/index.html */

.socialMediaLinks ul {
    display: flex;
  }
  
  .links ul {
    display: flex;
  }
  
  .links a {
    color: #555;
  }
  
/* Element | http://127.0.0.1:5501/index.html */

.footer-legal-logoTNW {
  width: 10px;
  height: 10px;
}


/* Element | http://127.0.0.1:5500/ */

.footer-legal-logoStackPath {
    width: 100px;
  }
  
  /* stylesheet.css | http://127.0.0.1:5500/styleSheet/stylesheet.css */
  
  .footer-legal-logoTNW {
    /* width: 10px; */
    width: 40px;
  }
  
  .copyright {
    /* height: 300px; */
    height: 70px;
  }

  
/* Inline #1 | http://127.0.0.1:5501/index.html */

.socialMediaLinks li {
  margin-left: 30px;
}

/* stylesheet.css | http://127.0.0.1:5501/styleSheet/stylesheet.css */

.socialMediaLinks ul {
  justify-content: center;
}

.links ul {
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
}

/* Element | http://127.0.0.1:5501/index.html */

.socialMediaLinks {
  /* margin-top: 20px; */
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Element | http://127.0.0.1:5501/index.html */

.links {
  padding-bottom: 30px;
}

/* Inline #1 | http://127.0.0.1:5501/index.html */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* stylesheet.css | http://127.0.0.1:5501/styleSheet/stylesheet.css */

.socialMediaLinks li {
  padding: 10px;
  background-color: gray;
  border-radius: 50%;
}

.socialMediaLinks li:hover {
  background-color: #575555;
}

.links li {
  margin-right: 20px;
}

.links  a {
  text-decoration: none;
}


/* Inline #1 | http://127.0.0.1:5501/index.html */

.container2 {
  margin-left: auto;
}

.copyright span {
  margin-top: auto;
  margin-bottom: auto;
}

