node_modules
TNW_files
.vscode

phonescreens.css
tablet.css

milestone2.html
wajahat-work.html
milestone2.html

styleSheet/testMilestone2.css
styleSheet/wajahatStylesheet.css
styleSheet/phonescreens.css
styleSheet/tablet.css